* {
    /* outline: 2px solid red; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
  }
  
#title {
    background-color: rgb(238, 210, 148);
    font-size: 50px;
    margin: 0;
    text-align: center;
    padding-bottom: 10px;
}

body {
    background-color:bisque;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
}

.nav-container {
    background-color: beige;
    display: inline-block;
    padding: 10px;
    width: 100%;
    text-align: center; 
    border: 10px;
    border-style: groove;
    margin: 0;
    

}

.nav-item{
    display: inline-block;
    padding: 10px 20px;
    background-color: #fef19a;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px; /* Add margin between nav items */

}

.nav-item:active {
    background-color: #f8e35a;
  }





body h1 {
    background-color: rgb(238, 210, 148);
}



.image-container {
    text-align: center;
    display: block;
}

.image-text {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    display: block;

}

.image-text span {

    border-bottom: 2px solid;

}

/* Recipe Style */
.recipe-image {
    margin: 10px auto;
    display: block;
    border: 10px inset; 
}

h2,h3 {
    text-align: center;
    margin: 20px;
}
body p{
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px 100px;
}

ul {
    background: #fbd5a7;
    padding: 20px;
    margin: 15px;
}

ul li {
    background: #ffe5e5;
    color: rgb(7, 7, 7);
    padding: 5px;
    margin-left: 35px;
}

ol {
    background: #fbd5a7;
    padding: 20px;
    margin: 15px;
}

ol li {
    background: #ffe5e5;
    color: rgb(7, 7, 7);
    padding: 5px;
    margin-left: 35px;
}